@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-weight: 400;
  font-family: 'Quicksand', sans-serif;
}

body {
  background: white;
  min-height: 100vh;
  display: flex;
  
}

body, html, .App, #root {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
}

.login-logo {
  margin-top: 50px;
  height: 15vmin;
}

.auth-wrapper {
  width: 100%;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  border-style: solid;
  border-width: medium;
  border-color: #06529C;
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

button.btn-login {
  display: block;
  padding: 10px 40px;
  background-color:  #06529C;
  color: white;
}

.auth-wrapper button {
  text-align: center;
  margin: 30px auto 0 auto;
  line-height: 1;
}

.navbar {
  background-color: white;
}

.account-logo {
  height: 8vmin;
  margin: 1vmin auto;
}

.icons-bell {
  margin-right: 10px;
}

.div-hero {
  margin: 0px 20px;
}

.account-hero {
  width: 100%;
  border-radius: 30px;
}
