.user-list {
    padding: 10px;
    text-align: start;
}

.user-list h5 {
    font-weight: 700;
    color: black;
}

.line {
    width: 100%;
    height: 2px;
    margin-top: 10px;
    background-color: rgb(182, 182, 182);
}